<section id="main">
    {{#each posts}}
    <article class="post">
        {{> post}}
        {{#if comments}}
        <aside class="comments">
            {{#each comments}}
                {{> comment}}
            {{/each}}
        {{/if}}
    </article>
    {{/each}}
</section>
