<section id="main">
    {{#each posts}}
    <article class="post">
        <h1 class="title">{{title}}</h1>
        <div class="text">
            {{text}}
        </div>
        {{#if comments}}
        <aside class="comments">
            {{#each comments}}
            <article class="comment">
                <strong>{{author.name}}</strong>:
                {{text}}
            </article>
            {{/each}}
        {{/if}}
    </article>
    {{/each}}
</section>
